@{
    ViewData["Title"] = "Login";
}

<div class="login-container">
    <div class="login-info">
        <h2>Reserva Tu Cancha</h2>
        <p>¡Inicia sesión para acceder a todas las funciones y poder reservar una cancha!</p>
        <img src="~/img/copa-login.png" alt="Copa" class="logo-copa"/>
    </div>

    <div class="login-form">
        <h3>Iniciar sesión</h3>
        <form asp-action="Login" asp-controller="Auth" method="post">
            <label>Correo electrónico</label>
            <input type="email" name="correo" required /> 

            <label>Contraseña</label> 
            <input type="password" name="password" required />

            <button type="submit">Iniciar sesión</button>
        </form>

        @if (ViewBag.Error != null)
        {
            <div class="error-message">@ViewBag.Error</div>
        }

        <p>¿No tienes una cuenta? <a asp-action="Register" asp-controller="Auth">  Crea una aquí</a></p>
    </div>
</div>