@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <form asp-action="Login" asp-controller="Auth" method="post">
        <label>Correo de usuario</label> <br />
        <input type="email" name="correo" required /> <br /> <br />

        <label>Password</label> <br />
        <input type="password" name="password" required /> <br /> <br />

        <button type="submit">Iniciar sesión</button>
    </form>

    @if (ViewBag.Error != null)
    {
        <div style="color: red;">@ViewBag.Error</div>
    }

    <p>¿No tienes cuenta? <a asp-action="Register" asp-controller="Auth">Regístrate aquí</a></p>
</div>
