@model ReservaCanchas.Models.Usuario
@{
    ViewData["Title"] = "Register";
}

<div class="registro-container">
    <div class="registro-info">
        <h2>Únete a Reserva Tu Cancha</h2>
        <p>¡Crea tu cuenta para empezar a disfrutar y reservar canchas fácilmente!</p>
        <img src="~/img/copa-login.png" alt="Copa" class="logo-copa"/>
    </div>

    <div class="registro-form">
        <h3>Crear una cuenta</h3>
        @if (ViewBag.Errores != null)
        {
            <div class="error-message">
                @foreach (var error in ViewBag.Errores)
                {
                    <p>@error</p>
                }
            </div>
        }
        <form asp-action="Register" asp-controller="Auth" method="post">
            <label>Nombre de usuario</label>
            <input type="text" asp-for="Nombre" required />

            <label>Correo electrónico</label>
            <input type="email" asp-for="Correo" required />

            <label>Contraseña</label>
            <input type="password" asp-for="Password" required />

            <button type="submit">Registrar</button>
        </form>

        <p>¿Ya tienes una cuenta?<a asp-action="Login" asp-controller="Auth">Inicia sesión aquí</a></p>
    </div>
</div>
