@model IEnumerable<ReservaCanchas.Models.Complejo>

@{
    ViewData["Title"] = "Index";
}

<div class="complejos-index">
    <h1>Selecciona un complejo</h1>

    <div class="complejos-grid">
        <article class="complejo-card">
            <a href="/">
                <img src="~/img/laCapital.jpg" alt="La Capital">
            </a>
            <h4>La Capital</h4>
        </article>

        <article class="complejo-card">
            <a href="/">
                <img src="~/img/arena7.jpg" alt="Arena7">
            </a>
            <h4>Arena 7</h4>
        </article>
    </div>
</div>
