@{
    ViewData["Title"] = "Home Page ";
}

<div class="home">
    <div class="inicio">
        <div class="inicio-texto">
            <h1>Reserva Tu Cancha</h1>
            <h4>Disfruta de la facilidad de consultar y reservar una cancha deportiva a cualqier hora y desde cualquier lugar</h4>
        </div>
        <div class="inicio-imagen">
            <img src="~/img/reserva.png" alt="Icono de reserva" class="icon-reserva">
        </div>
    </div>
    
    <div class="beneficios-inicio">
        <div class="beneficios-texto">
            <h3>Disfruta de nuestros beneficios</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum et possimus tempora temporibus vero. Tenetur, vel deserunt? Laboriosam nemo assumenda maxime architecto nesciunt est corrupti veritatis asperiores, sed rem quaerat.</p>
        </div>

        <div class="beneficios-cartas">
            <article>
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAY5JREFUSEvt1c1LVVEUBfCfNDEdBUqlDQRFCxv0B9Qg/IAcZYYo/gcNI0miZmWFiHOHDQIximaFH4PAuSEIguhAUKhoEuhMugfOexwvD9/ryfNNupNz7757n7XXWvvc26DGV0ON91cK4ALmMY6LFTZwhHd4hOO0phTAE8xUuHE+7THmTgO4gp3YeT9WMIIP+IJ7sfgrBvEAn9CHZfxBDw4KIHkGCxhFWMdi0mtM4SVexNgrPENYn8fYIh7iPSZKAdzFKg7RlXSxhMDmPj7HwmF8zLG6im00ZWxuYy3kpgw2s85vIHgwm+j4G5fQjv0Yv4a9zNQfuJzkPsUbfMetPMBPtOB6NkFbsagDu/G+M/oTHruTnBT4ZubZRmTflgco6B/MnEQY12kMRYD1qG1jHMneGA+yhc6bs+F4G+Us+pBKFCao6H6VY1ooa8WvPIMAduKQnAGk2HjK4NwBzgJeEYO6ApQDr4jBaR7/Byh7AqqSKOz6LfsH3CmzffjuD+Ry0roT7+vyTy6rz78k1JzBXyTtTxlODznEAAAAAElFTkSuQmCC"/>
                <h4>+10 complejos</h4>
                <p>Accede a múltiples complejos a lo largo de la ciudad de Quito</p>
            </article> 

            <article>
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAlVJREFUSEu11UnITmEUB/DfFylCbJAFEkUkQyjKVEQRRYaNLNhgY1qgDBEWho1kI7FBIULGMkTJELJCKaQMZWNayPAcPbfud72v9/sW36nbe9/znHP+5/zPec5t0sbS1MbxNQJoj5kYjeH5N3K6j0fp7AHO4We9RP8H0B8nMaJBlQG2EC9r2dUDWI7d6JgAzqbsz2Ar+uQg33ECc9ANX7EWB6sgtQA2J6Mt2WkuLmenrjlAZ6zE65zAGoRP0LkJ28ogVYDZOdsvGIenLRyCUbiOLrlnFwq/MkA7PEdwH5mfbmHwwmwBjucYg1M1v+KgDDA/8/oRPeoEj2kqpqiWySd0xyycrwIcSZOwOHtNxbVKhFXYm3Wrsa9yHj5Xsu4AVlQBXmBANriJSfm9F/Zn2soxT+Vmv8vK2xif3+OOjKwC/MiTEPqoZkk2jn7Efagl8xBAhU/BwAf0rAJEU6InUUnc2m+liJHlX4eSvE9jG9UV0indi8cYiJoAb9Eb01KpVyvBgvvoQVmiB9GLskzHRTzJSTabotgpsXfWY1fFMabnXkU3Ju+ksnpjonk7DmFplaLg/HCmaAiiJ62RDniGfpiBS1WAMHiVeV2Xd1FrAKLyHfn2Dyscq6situKxStSJuFUHKUY5VkRZppR1tZZdcBhcFnIDk+sA3E1NHVs624CdZdt663pZWlx78vIK+wCNKh4mGoLKoel/ZBq0hHzOUxbNbSb/++D0TYvvKCY0aMSd1NxFeFPLrtEnM3wGZZAAiud3riYqiicmp660BKA1k/SPbZsD/AE1cWoZkVfCRQAAAABJRU5ErkJggg=="/>
                <h4>+20 canchas</h4>
                <p>Escoge entre más de 20 canchas de diferentes deportes: fútbol, basketball, tennis, entre otros</p>
            </article>

            <article>
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAKNJREFUSEvt1jEKAjEUhOFvQbyCIAiCB9AriXqCBQuPYuE1PIc2dnaCt1AsFAmGt+y6XVLPzJ/MCyGVnlfVc74UMMQWK0xbwC+ocXx7U8AByxbB35YrZjnAHaOOgJf9s/H0BI8/hBdAoxLLDMKaSkWlorCBUBDeojnOYUwDQfqa3jDGAqcG/lCSAvbYhK5YkK1ogB3WmMQ5WUUW0CHzt7X3X8UTf3sZGdsPG6AAAAAASUVORK5CYII="/>
                <h4>Reserva cuando quieras</h4>
                <p>Puedes entrar y realizar tu reserva de cancha en cualquier hora y en cualquier lugar</p>
            </article>

            <article>
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPZJREFUSEvt1bFKA0EUheEvrfZpBEEsYidaqH2w9hnSpBJioYWV2JneZ7GzsTKCStIEG0nARzBpdUc2MCxK2B0DEtzuXGbOv/fszN2aBT+1BftbLsARrrCVGNsQp7gJPnFEb1hLNJ9tf8VmEfDxS+Yzm6+Xjzv4BxQT/nsRveAYj2ihneuH7Eju4RqNqI3SHRyglxvc4SzSobyP+xTAKqa5wTvqkQ7llQw6SQHs4jnqoBPpUN7BUwrgNrs3lwiZH+Ik131s4wLNFEDZi176IycDxlgv6/LD+hE2irMojOtu4SxX4Q1w/t24rmI2d89y/TLntltlwSdWzCwZt8YCMgAAAABJRU5ErkJggg=="/>
                <h4>Paga en línea</h4>
                <p>Paga al momento de realizar la reserva y tu cupo quedará asegurado para el horario que escogiste</p>
            </article>
        </div>
    </div>

    <div class="socios-app">
        <div class="socios-contenido">
            <div class="socios-imagen">
                <img src="~/img/socio.png" alt="Socio logo">
            </div>
            <div class="socios-texto">
                <h3>¿Tienes algún complejo y quieres registrarlo?</h3>
                <h4>Únete y sé nuestro socio</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A nesciunt vel autem asperiores ipsam libero nobis culpa nostrum quia atque sequi, necessitatibus reprehenderit error reiciendis ab repudiandae ad dignissimos cum.</p>

                <h4>Impulsa tu marca con nosotros</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A nesciunt vel autem asperiores ipsam libero nobis culpa nostrum quia atque sequi, necessitatibus reprehenderit error reiciendis ab repudiandae ad dignissimos cum.</p>

                <h4>Maneja y administra tus canchas</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A nesciunt vel autem asperiores ipsam libero nobis culpa nostrum quia atque sequi, necessitatibus reprehenderit error reiciendis ab repudiandae ad dignissimos cum.</p>
            </div>
        </div>
    </div>
</div>
