:root {
  /* Paleta de colores */
  --colorPrimario: #4658d6;
  --colorSecundario: #201c1b;
  /* --gris: #3B3B3B; */
  --gris: #ededed;
  --blanco: #fff;
  --amarillo: #e28120;

  /* Otros */
  --separacion: 5rem;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

a {
  text-decoration: none;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
  margin-bottom: 60px;
}
.styled-select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none; /* Para ocultar el estilo predeterminado del navegador */
    -webkit-appearance: none; /* Para navegadores basados en WebKit */
    -moz-appearance: none; /* Para Firefox */
}

    .styled-select:focus {
        outline: none;
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }

.cbg-web {
  background-color: var(--gris);
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Barra de navegación */
.barra-navegacion {
  width: 100vw;
  height: 6rem;
  background-color: var(--colorSecundario);
  color: var(--blanco);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.barra-navegacion div a {
  color: var(--blanco);
}

.barra-navegacion a {
  font-size: 1.6rem;
  margin-right: 1.5rem;
  transition: color 0.3s;
}

.barra-navegacion a:hover {
  color: var(--colorPrimario);
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-left: 1.5rem;
}

.menu li a {
  font-size: 1.4rem;
  color: var(--blanco);
  padding: 0.5rem 1rem;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 4px;
}

.menu li a:hover {
  background-color: var(--colorPrimario);
  color: var(--blanco);
}

/* Menú de hamburguesa */
.menu-toggle {
  display: none;
  font-size: 2rem;
  color: var(--blanco);
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: var(--colorSecundario);
    width: 200px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .menu li {
    margin: 1rem 0;
  }

  .menu-toggle {
    display: block;
  }

  .menu.show {
    display: flex;
  }
}

/* Contenedor principal para el login y registro */
.login-container, .register-container {
  display: flex;
  width: 80%;
  max-width: 100rem;
  height: 45rem;
  margin: 5rem auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

/* Información decorativa */
.login-info, .register-info {
  background-color: var(--colorPrimario); /* Cambiar por el color deseado */
  color: var(--blanco);
  padding: 3rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.login-info img, .register-info img {
  width: 15rem;
  height: 15rem;
  margin-top: 20px;
}

.login-info h2, .register-info h2 {
  font-size: 2.4rem;
  margin: 1rem 0;
}

.login-info p, .register-info p {
  font-size: 1.6rem;
}

/* Formulario */
.login-form, .register-form {
  flex: 1;
  padding: 3rem;
  background-color: var(--colorSecundario);
  color: var(--blanco);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form h3 {
  font-size: 3rem;
  color: var(--colorPrimario);
  margin-bottom: 3rem;
}
.register-form h3 {
  font-size: 3rem;
  color: var(--colorPrimario);
  margin-bottom: 2rem;
}

.login-form form, .register-form form {
  width: 100%;
  max-width: 30rem;
}

.login-form label, .register-form label {
  color: #fff;
  font-size: 1.4rem;
}

.login-form input {
  width: 100%;
  padding: 0.8rem;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.4rem;
}

.register-form input {
  width: 100%;
  padding: 0.8rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.4rem;
}

button[type="submit"] {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 4px;
  background-color: var(--colorPrimario);
  color: var(--blanco);
  font-size: 1.6rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #3949ab; 
}

.login-form p, .register-form p {
  margin-top: 2rem;
  font-size: 1.3rem;
}

.login-form p a, .register-form p a {
  margin-left: 0.5rem;
  color: var(--colorPrimario);
}

.login-form p a:hover, .register-form p a:hover {
  color: #3949ab;
}

.error-message {
  color: red;
  font-size: 1.2rem;
  margin-top: 1rem;
}

/* Responsive */
@media (max-width: 768px) {
  .login-container, .register-container {
    flex-direction: column;
  }

  .login-info, .register-info {
    padding: 1.5rem;
  }

  .login-form, .register-form {
    padding: 1.5rem;
  }

  .login-container, .register-container {
    height: 95rem;
  }
}
